*{
   box-sizing: border-box;
}
body{
   margin: 0;
   background-color: #0e141b;
   color:#fff;
   overflow-y: scroll;
}

 /* Estilo del scrollbar */
 ::-webkit-scrollbar {
   width: 10px;
 }

 /* Estilo del scrollbar vertical */
 ::-webkit-scrollbar-thumb {
   background-color: #5d7b8d;
   border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:hover {
  background-color: #74838b; /* Cambia el color del thumb cuando se pasa el mouse sobre él */
}
