:root {
  --fondo-bg: #0e141b;
  --fondo-bg-secundary: #fff;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7aff;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9393fd;
}
.arrow {
  animation: arrow 3s ease-out infinite;
}

.default path {
  fill: var(--fondo-bg);
}

.light path {
  fill: var(--fondo-bg-secundary);
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: linear-gradient(to right, #a286f1, #4778ff);
  transition: width 0.3s ease-in;
  z-index: 10;
}

.modeLight {
  transition: transform 0.5s ease;
  transform: translateX(24px) scale(1) rotate(180deg);
}
.modeDark {
  transition: transform 0.5s ease;
  transform: translateX(0px) scale(1) rotate(353deg);
}
