*{
   box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #0e141b;
  color:#fff;

}

 /* Estilo del scrollbar */
 ::-webkit-scrollbar {
   width: 10px;
 }

 /* Estilo del scrollbar vertical */
 ::-webkit-scrollbar-thumb {
   background-color: #5d7b8d;
   border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:hover {
  background-color: #74838b; /* Cambia el color del thumb cuando se pasa el mouse sobre él */
}

.arrow{
  animation: arrow 5s ease-in infinite,
  arrow 5s 5s ease-in infinite,
  arrow 5s 5s ease-out infinite,
  arrow 1500ms 3s ease-in infinite;
  border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 0px 100px 5px;
}


@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  20%,80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(60px);}
}

.progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background:linear-gradient(to right,#a286f1,#4778ff);
  transition: width .3s ease-in;
  z-index: 10;
}