@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-170px * 9));
  }
}

.slider {
  position: relative;
  margin: auto;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(170px * 18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  width: 170px;
  display: flex;
  align-items: center;
  perspective: 100px;
}
.slide svg {
  width: 100%;
  transition: transform 1s;
}
.slide svg:hover {
  transform: translateZ(20px);
}

.slider:before,
.slider:after {
  background: linear-gradient(
    to right,
    rgba(14, 20, 27, 0.1) 20%,
    rgba(14, 20, 27, 0.9) 100%
  );
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  content: '';
  z-index: 2;
}
.slider:before {
  left: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider:after {
  right: 0;
  top: 0;
}
